/vendor/
/node_modules/
/public/storage
/storage/*.key
/.env
/.env.*
.phpunit.result.cache
phpunit.xml
homestead.yaml
Homestead.json
/.idea
/.vscode
/.fleet
*.log
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/framework/views/*
/storage/logs/*
!/storage/framework/cache/.gitignore
!/storage/framework/sessions/.gitignore
!/storage/framework/testing/.gitignore
!/storage/framework/views/.gitignore
!/storage/logs/.gitignore
/public/hot
/public/build
/public/mix-manifest.json
/.php-cs-fixer.cache
/.phpunit.cache
/storage/app/public/*
!/storage/app/public/.gitignore
/node_modules/.vite
